@charset "UTF-8";

#container{
    background-color: #f2f2f2;
}

.sub_header{
    position: absolute;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid rgba(255, 255, 225, 0.5);
    z-index: 5;
}

.sub_header_in{
    text-align: center;
}

.sub_header ul{
    display: inline-block;
    overflow: hidden;
}

.sub_header li{
    float: left;
    margin: 0 20px;
}

.sub_header a{
    display: inline-block;
    line-height: 60px;
    color: #fff;
    letter-spacing: -1px;
}

.sub_header li.active:after{
    display: block;
    content: "";
    width: 100%;
    height: 4px;
    background-color: var(--green);
    position: relative;
    bottom: 4px;
}

.sub_header li.active a{
    color: var(--yellow);
    font-weight: 500;
}


.sub_visual{
    position: relative;
    height: 380px;
    text-align: center;
    color: #fff;
    overflow: hidden;
}
.sub_visual h2{
    font-size: 70px;
    background: none;
    padding: 95px 0 0;
    animation: toUp 0.6s;
}

.sub_visual p{
    line-height: 1.6;
    animation: toUp 0.6s 0.1s forwards;
    opacity: 0;
}

.morning{
    background: #f2B701 url("../img/bg_visual_morning.png") 50% no-repeat;
}

.morning > div{
    position: absolute;
    left: 50%;
    top: 0;
}

.morning .img1{
    margin-left: 360px;
    width: 508px;
    height: 549px;
    background: url("../img/img_visual_morning01.jpg");
    opacity: 0;
    animation: toDown 0.6s 0.3s forwards;
}
.morning .img2{
    margin-left: -660px;
    width: 327px;
    height: 215px;
    background: url("../img/img_visual_morning02.jpg");
    opacity: 0;
    animation: toLeft 0.6s 0.2s forwards;
}

@keyframes toUp {
    0%{transform: translateY(100px); opacity: 0;}
    100%{transform: translateY(0px); opacity: 1;}
}

@keyframes toDown {
    0%{transform: translateY(-300px); opacity: 0;}
    100%{transform: translateY(0); opacity: 1;}
}

@keyframes toLeft {
    0%{transform: translateX(50px); opacity: 0;}
    100%{transform: translateX(0); opacity: 1;}
}


/* product */
.product{
    width: 1170px;
    margin: auto;
    position: relative;
    top: -40px;
}

.pd_tab{
    background-color: #fff;
    text-align: center;
    height: 80px;
}

.pd_tab ul{
    display: inline-block;
}

.pd_tab li{
    float: left;
    margin-right: 20px;
}
.pd_tab a{
    line-height: 80px;
    color: var(--gray1);
    font-weight: 500;
    display: inline-block;
}

.pd_tab li.active a{
    color: var(--green);
    font-weight: 500;
}

.pd_tab li + li::before{
    display: inline-block;
    content: "";
    width: 1px;
    height: 14px;
    background-color: var(--gray2);
    margin-right: 20px;
}


.pd_list{
    padding: 50px 0;
}

.pd_list ul{
    overflow: hidden;
}

.pd_list li{
    background-color: #fff;
    width: 370px;
    height: 330px;
    float: left;
    margin: 0 30px 30px 0;
    text-align: center;

    position: relative;
}

.pd_list li:nth-child(3n){
    margin-right: 0;
}

.pd_list figure{
    width: 270px;
    margin: 20px auto;
}

.pd_list figure img{
    width: 100%;
    height: 100%;
}

.pd_list .title{
    position: relative;
    display: block;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
    top: 0;
    z-index: 5;
}

.pd_list .eng_title{
    position: relative;
    top: 0;
    z-index: 5;
}

.pd_list .summary{
    position: relative;
    z-index: 5;
    color: #e6f1be;
    padding: 0 20px;
    opacity: 0;
    top: 0;
}

.pd_list .summary p{
    line-height: 20px;
}

.pd_list .viewBtn{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: url("../img/btn_more.png") no-repeat 144px bottom;
    z-index: 6;
    top: 0;
    left: 0;
    transform: scale(0.3);
    opacity: 0;
}

/* hover */
.pd_list li:hover::after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--green);
}

.pd_list li:hover .title{
    color: #fff;
    top: -150px;
    transition: 0.4s;
}

.pd_list li:hover .eng_title{
    color: #fff;
    top: -142px;
    transition: 0.4s;
}

.pd_list li:hover .summary{
    top: -135px;
    transition: 0.5s 0.2s ease;
    opacity: 1;
}

.pd_list li:hover .viewBtn{
    transform: scale(1);
    opacity: 1;
    transition: 0.3s 0.3s;
}